/tbd-studio-ee/
/tbd-studio-se/
/tcommon-studio-ee/
/tcommon-studio-se/
/tdi-studio-ee/
/tdi-studio-se/
/tdq-studio-ee/
/tdq-studio-se/
/tesb-studio-ee/
/tesb-studio-se/
/tmdm-studio-ee/
/tmdm-studio-se/
/toem-studio-ee/
/toem-studio-se/
/tmdm-common/
/tac/
/tamc-ee/
/jobserver/
/tbpm-studio-ee/
